
header{
	background-color: darkcyan;
}
h1{
	text-decoration: underline;
	font-size: 500%;
}
body:hover{
	margin: 0px;
	background-image: url(background.jfif);
}
article:hover{line-height: 50px;font-weight: bold;font-style: italic;text-decoration: line-through;color: ivory;font-family: "georgia",times new roman;}
img{width: 250px;height: 200px;margin: 20px;transition: all 1s;}
img:hover{
	transform: scale(1.5);
}
.gallery{

	display: flex;
	flex-wrap: wrap;
}
#div1{
	background-image: linear-gradient(pink,cyan);
}
.notice{
	color: gold;
}
h4{
	margin-top:10px;
	color:goldenrod;
	font-family: fantasy;
	border-bottom: 2px solid red;
	border-top: 2px solid orangered;
	border-left: 2px solid orange;
	border-right: 2px solid red;
	text-align: center;
	font-size:3em;
	width: 400px;
	box-shadow: 4px 4px 5px #999999;
}
.list{
	text-transform: uppercase;
	color: rgba(0,110,175,5);
	list-style: none;
}
ol,ul{
	border: 5px dashed slateblue;
	
}
footer>p{
	color: green;
}
article{
	text-align: center;
	border: 5px solid  yellow;
	cursor: pointer;
}
aside{
	display: inline-block;
}
section{
	display: block;
}
footer{
	clear: both;
	color: rgb(0,155,155);
	text-align: center;	
}